body {
  background-color: rgb(245, 255, 250);
  font-family: "Times New Roman";
  width: 100%;
  height: 100%;
}

button {
  background-color: rgba(0,0,0,0);
  border: 2px solid #33ccff;
  color: #33ccff;
  border-radius: 45px;
  height: 10%;
  width: 35%;


  margin-top: 14%;
  margin-left: 0;
  maring-right: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

button:active {
  background-color: #33ccff;
  border: 2px solid #33ccff;
  color: #33ccff;
  
  margin-left: 0;
  maring-right: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#numberDiv {
  color: rgb(0, 0, 139);

  text-align: center;
  
  height: 33%;
  width: 100%;
  
  margin-top: 7%;
  margin-left: 0;
  maring-right: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

}

#length {
  background-color: rgba(0,0,0,0);
  border: 2px solid rgb(0, 0, 139);
  color: rgb(0, 0, 139);
  text-align: center;

  height: 5%;
  width: 35%;
  
  padding: 0;
  
  margin-top: 0%;
  margin-left: 0;
  maring-right: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
